.animation {
  &--slide-in {
    opacity: 0;
    transform: translateX(100vw);
    animation: 0.2s ease-out 1.5s forwards slide-in;
  }

  &--shake {
    animation: 5s linear both infinite shake;
  }

  &--flash {
    animation: 3s linear both infinite flash;
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(100vw);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes shake {
  0%,
  55%,
  70%,
  100% {
    transform: translateX(0);
  }
  57%,
  63% {
    transform: translateX(-2px);
  }
  60%,
  65% {
    transform: translateX(2px);
  }
}

@keyframes flash {
  0%,
  15%,
  35%,
  65%,
  85%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}
