@use "variables";

.bg {
  &--white {
    background-color: white;
  }

  &--white-tr {
    background-color: variables.$trWhite;
  }

  &--black {
    background-color: black;
  }

  &--black-tr {
    background-color: variables.$trBlack;
  }

  &--red {
    background-color: red;
  }

  &--orange {
    background-color: variables.$mainOrange;
  }

  &--orange-tr {
    background-color: variables.$trMainOrange;
  }
}
