.btn {
  display: block;
  width: max-content;
  min-width: 100px;
  padding: 6px 15px;
  font-size: 1.5rem;

  &--red {
    color: white;
    background-color: red;

    &:hover {
      color: red;
      background-color: white;

      .icon--ff,
      .icon--play {
        filter: brightness(1);
      }
    }
  }

  &--transparent {
    color: white;
    border: 1px solid white;

    &:hover {
      color: red;
      background-color: white;
    }
  }

  &--centered {
    margin: auto;
  }

  &--loading {
    background-color: white;
  }
}
