@use "variables";

.color {
  &--white {
    color: white;
  }

  &--red {
    color: red;
  }

  &--orange {
    color: variables.$mainOrange;
  }

  &--light-orange {
    color: variables.$lightOrange;
  }

  &--black {
    color: black;
  }
}
