.footer {
  z-index: 4;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  height: 60px;
  padding: 5px 50px;

  &-content {
    display: none;
    justify-content: space-evenly;
    align-items: center;
    max-width: 700px;
    height: 100%;

    @media (min-width: 890px) {
      display: flex;
    }
  }

  &__icon {
    height: 20px;
    width: 20px;

    &--email {
      width: 24px;
      filter: invert(1);
    }
  }

  &__link {
    margin-left: 30px;
    &:hover {
      border-bottom: red 1px solid;
    }
  }
}
