@use "variables";

.form {
  &-container {
    margin: 150px auto 80px auto;
    padding: 20px;

    @media (min-width: 550px) {
      margin: 150px 0 80px 0;
    }
  }

  &-group {
    margin-bottom: 20px;

    &__label {
      display: block;
      margin-bottom: 10px;
      padding: 2px 5px;
      max-width: max-content;
      background-color: variables.$trBlack;
      font-size: 1.5rem;
    }

    &__input {
      display: flex;
      align-items: flex-end;
      height: max-content;
      padding: 5px 5px;
      background-color: variables.$trBlack;

      input {
        height: 31.5px;
        width: 100%;
        padding: 2px 4px;
        border: 2px solid white;
        font-size: 1.2rem;
        border-radius: 0px;
        color: black;

        &:focus {
          outline: none;
          border: 2px solid red;

          ~ div {
            border-color: red;
          }
        }
      }

      textarea {
        width: 350px;
        padding: 2px 4px;
        padding-right: 32px;
        border: 2px solid white;
        font-size: 1.2rem;
        resize: none;
        border-radius: 0px;
        color: black;

        &:focus {
          outline: none;
          border: 2px solid red;

          ~ div {
            border-color: red;
          }
        }
      }

      &--is-valid {
        input:focus {
          border-color: greenyellow;

          ~ div {
            border-color: greenyellow;
          }
        }

        textarea:focus {
          border-color: greenyellow;

          ~ div {
            border-color: greenyellow;
          }
        }
      }

      &-status {
        display: inline-block;
        padding: 5px;
        height: 31.5px;
        width: 31.5px;
        border: 2px solid white;
        background-color: rgb(78, 78, 78);

        img {
          width: 100%;
        }

        &--last {
          position: absolute;
          transform: translateX(318px);
        }
      }
    }
  }

  &__btn-group {
    display: flex;
    align-items: center;

    img {
      filter: brightness(100);
    }
  }
}
