.loading {
  &-screen {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 1;
    transition: all 1s 1.5s;

    &--fade-out {
      z-index: -100;
      opacity: 0;

      .loading-screen__white-flash {
        display: block;
      }
    }

    &__logo {
      display: flex;
      align-items: center;

      &__dot {
        position: relative;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: red;

        &--move-and-scale {
          animation: move-and-scale 0.7s ease-out 0s 2 normal forwards;
        }

        &-box {
          display: inline-block;

          &--move-h {
            animation-timing-function: linear;
            animation: move-h 1.5s forwards;
          }
        }
      }

      &__half {
        display: inline-block;
        width: max-content;
        font-size: 4rem;

        &--oh {
          overflow-x: hidden;
        }

        &-first {
          text-align: end;
          font-style: normal;
          margin-right: -200px;
          animation: slide-out 2s 2s forwards;

          span {
            color: black;
            animation: appear 2s 2s forwards;
          }
        }

        span {
          font-style: normal;
        }
      }
    }

    &__white-flash {
      display: none;
      position: absolute;
      width: 5px;
      height: 5px;
      background-color: black;
      animation: tv-boot ease-out 0.5s 0.7s forwards;
    }
  }
}

/* Dots Loading Animation */

.loading-icon {
  margin: 0 auto;
  text-align: center;
}

.loading-icon::before,
.loading-icon::after {
  content: " ";
}

.loading-icon div,
.loading-icon::before,
.loading-icon::after {
  margin: 0px 4.5px;
  margin-top: 3px;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: red;
  opacity: 0;
  transform: translateY(-3px);
}

.loading-icon::before {
  -moz-animation: opacitychange 1s ease-in-out infinite;
  -webkit-animation: opacitychange 1s ease-in-out infinite;
  -o-animation: opacitychange 1s ease-in-out infinite;
  animation: opacitychange 1s ease-in-out infinite;
}

.loading-icon div {
  -moz-animation: opacitychange 1s ease-in-out 0.33s infinite;
  -webkit-animation: opacitychange 1s ease-in-out 0.33s infinite;
  -o-animation: opacitychange 1s ease-in-out 0.33s infinite;
  animation: opacitychange 1s ease-in-out 0.33s infinite;
  -webkit-animation-fill-mode: infinite;
  animation-fill-mode: infinite;
}

.loading-icon::after {
  -moz-animation: opacitychange 1s ease-in-out 0.66s infinite;
  -webkit-animation: opacitychange 1s ease-in-out 0.66s infinite;
  -o-animation: opacitychange 1s ease-in-out 0.66s infinite;
  animation: opacitychange 1s ease-in-out 0.66s infinite;
  -webkit-animation-fill-mode: infinite;
  animation-fill-mode: infinite;
}

@keyframes opacitychange {
  0%,
  100% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }
}

@-webkit-keyframes opacitychange {
  0%,
  100% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }
}

@keyframes loading-progress {
  0% {
    width: 0%;
  }
  30% {
    width: 50%;
  }
  60% {
    width: 80%;
  }
  100% {
    width: 100%;
  }
}

@keyframes tv-boot {
  0%,
  20% {
    transform: scaleX(1) scaleY(1);
    opacity: 1;
    background-color: white;
  }
  50% {
    transform: scaleX(1000) scaleY(1);
    opacity: 1;
    background-color: white;
  }
  80% {
    transform: scaleX(1000) scaleY(1000);
    background-color: white;
  }
  100% {
    transform: scaleX(1000) scaleY(1000);
    background-color: white;
  }
}

@keyframes slide-out {
  0% {
    margin-right: -200px;
  }

  100% {
    margin-right: 0px;
  }
}

@keyframes appear {
  0% {
    color: black;
  }

  100% {
    color: white;
  }
}

@keyframes move-and-scale {
  0% {
    transform: translateY(0) scale(0.8, 1.5);
  }

  25% {
    transform: translateY(-10px) scale(1, 1);
  }

  75% {
    transform: translateY(28px) scale(1, 1);
  }
  78% {
    transform: translateY(28px) scale(1.8, 0.7);
  }

  100% {
    transform: translateY(0) scale(1, 1);
  }
}

@keyframes move-h {
  0% {
    transform: translateX(0) scale(1);
  }
  50% {
    transform: translateX(-30px) scale(3);
  }
  90% {
    transform: translateX(-100px) scale(10);
  }
  100% {
    transform: translateX(-150px) scale(500);
  }
}
