@use "variables";

.section {
  display: flex;
  width: 100%;
  min-height: 100%;
  align-items: flex-end;

  @media (min-width: 550px) {
    align-items: center;
  }

  &--about {
    span {
      color: variables.$lightOrange;
    }
  }

  &-container {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    min-height: 700px;
    width: 100vw;
    padding: 0 5%;

    @media (min-width: 550px) {
      padding: 0 10%;
    }
  }

  &__content {
    margin: 150px auto 80px auto;
    width: 100%;
    max-width: 500px;
    height: max-content;
    padding: 20px;

    @media (min-width: 550px) {
      margin: 150px 0 80px 0;
    }

    &--large {
      width: 100%;
      max-width: 100%;
    }

    &--medium {
      width: 100%;
      max-width: 840px;
    }

    &--centered {
      margin-left: auto;
      margin-right: auto;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      padding: 2px 5px;
      width: 100%;
      max-width: max-content;
      background-color: variables.$trBlack;
    }
  }

  &__text {
    &-title {
      margin-bottom: 15px;
      font-size: 2rem;
    }

    &-subtitle {
      margin-bottom: 20px;
      font-size: 1.5rem;
    }

    &-link {
      text-decoration: underline;
    }

    &-group {
      margin-bottom: 20px;

      &--no-bottom {
        margin-bottom: 0px;
      }
    }

    &-small {
      margin-bottom: 9px;
      font-size: 1.1rem;
    }

    &-medium {
      margin-bottom: 9px;
      font-size: 1.5rem;
    }

    &--centered {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
